@use 'sass:color';

// COLORS
$dark-color: #141414;
$light-color: #f0f0f0;
$accent-color: #0000ff;
$dark-accent-color: color.adjust($accent-color, $lightness: -20%);

// SHADOWS
$dark-shadow: 0.2rem 0.2rem 0.2rem $dark-color;
$accent-shadow: 0rem 0rem 0.2rem $accent-color;

// BOX
$rounded: 0.3rem;

// TRANSITIONS
$transition-time: 0.3s;

// RESPONSIVE
$tablet: 768px;
